src/main/mule/soapclient.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="606a57ce-f947-4716-b32c-4d17df39bb65" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c523ac19-79c0-4073-9827-3dddfa46166d" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapclientFlow" doc:id="57070b0d-3ef1-4415-8e55-410f5cecf000" >
		<http:listener doc:name="Listener" doc:id="27908e07-3897-42c6-8723-e920dc7824d0" config-ref="HTTP_Listener_config" path="/action/{method}"/>
		<set-variable value="#[attributes.uriParams.method]" doc:name="Set Variable" doc:id="6dfe0d6d-2cd3-4fbc-967f-c528bc0c5f47" variableName="action"/>
		<choice doc:name="Choice" doc:id="9a8b335f-1292-489b-96a6-f99001f111cf" >
			<when expression='#[vars.action == "add"]'>
				<ee:transform doc:name="Transform Message" doc:id="6f6283bb-2b3c-4cf6-a0d8-420222ff42b4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="9357155f-23ad-4d60-8aa4-24eb3c0e7dbd" config-ref="Web_Service_Consumer_Config" operation="Add"/>
				<ee:transform doc:name="Transform Message" doc:id="6e45baa4-0be0-49bb-b837-d6bb7e1df875" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	Result: {
		operation: vars.action as String,
		Result: payload.body.ns0#AddResponse.ns0#AddResult as String default ""
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="cdc36638-6cd7-4c51-93db-27a9c47f9aca" />
			</otherwise>
		</choice>
	</flow>
</mule>
